# 2. DataFrame
2차원 데이터(Serise들의 모음)

## Data 준비 
사전 (dict) 자료구조를 통해 생성 
예) 슬램덩크 주요 인물 8명에 대한 데이터

In [2]:
data = {
    '이름' : ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
    '학교' : ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고'],
    '키' : [197, 184, 168, 187, 188, 202, 188, 190],
    '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
    '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
    '수학' : [100, 50, 70, 70, 10, 95, 45, 90],
    '과학' : [95, 55, 80, 75, 35, 85, 40, 95],
    '사회' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SW특기' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}
data

{'이름': ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
 '학교': ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고'],
 '키': [197, 184, 168, 187, 188, 202, 188, 190],
 '국어': [90, 40, 80, 40, 15, 80, 55, 100],
 '영어': [85, 35, 75, 60, 20, 100, 65, 85],
 '수학': [100, 50, 70, 70, 10, 95, 45, 90],
 '과학': [95, 55, 80, 75, 35, 85, 40, 95],
 '사회': [85, 25, 75, 80, 10, 80, 35, 95],
 'SW특기': ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']}

In [6]:
key='이름'
data[key]

['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협']

In [7]:
key='키'
data[key]

[197, 184, 168, 187, 188, 202, 188, 190]

# DataFrame 객체 생성

In [10]:
import pandas as pd
df = pd.DataFrame(data)
df

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80
4  강백호  북산고  188   15   20   10  35  10
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#

# 데이터 접근

In [11]:
df['이름']

0    채치수
1    정대만
2    송태섭
3    서태웅
4    강백호
5    변덕규
6    황태산
7    윤대협
Name: 이름, dtype: object

In [13]:
df['키']

0    197
1    184
2    168
3    187
4    188
5    202
6    188
7    190
Name: 키, dtype: int64

In [14]:
df[['이름','키']] #두개의 컬럼을 가져올때는 [[]] 이중괄호를 써야한다

    이름    키
0  채치수  197
1  정대만  184
2  송태섭  168
3  서태웅  187
4  강백호  188
5  변덕규  202
6  황태산  188
7  윤대협  190

# DataFrame 객체 생성 (index 지정)

In [16]:
df = pd.DataFrame(data, index=['1번','2번','3번','4번','5번','6번','7번','8번'])
df

     이름   학교    키   국어   영어   수학  과학  사회        SW특기
1번  채치수  북산고  197   90   85  100  95  85      Python
2번  정대만  북산고  184   40   35   50  55  25        Java
3번  송태섭  북산고  168   80   75   70  80  75  Javascript
4번  서태웅  북산고  187   40   60   70  75  80
5번  강백호  북산고  188   15   20   10  35  10
6번  변덕규  능남고  202   80  100   95  85  80           C
7번  황태산  능남고  188   55   65   45  40  35      PYTHON
8번  윤대협  능남고  190  100   85   90  95  95          C#

# DataFrame 객체 생성 (Column 지정)
data 중에서 원하는 column 만 선택하거나, 순서 변경 가능

In [18]:
df = pd.DataFrame(data, columns=['이름','학교','키'])

    이름   학교    키
0  채치수  북산고  197
1  정대만  북산고  184
2  송태섭  북산고  168
3  서태웅  북산고  187
4  강백호  북산고  188
5  변덕규  능남고  202
6  황태산  능남고  188
7  윤대협  능남고  190

In [19]:
df = pd.DataFrame(data, columns=['이름','키','학교'])
df

    이름    키   학교
0  채치수  197  북산고
1  정대만  184  북산고
2  송태섭  168  북산고
3  서태웅  187  북산고
4  강백호  188  북산고
5  변덕규  202  능남고
6  황태산  188  능남고
7  윤대협  190  능남고

In [21]:
import requests
from bs4 import BeautifulSoup

url ="https://comic.naver.com/webtoon/weekday.nhn"
res = requests.get(url)
res.raise_for_status()

soup = BeautifulSoup(res.text, "lxml")

# 네이버 웹툰 전체 목록 가져오기
cartoons = soup.find_all("a", attrs={"class":"title"})
# class 속성이 title 인 모든 "a" element 를 반환
for cartoon in cartoons:
    print(cartoon.get_text())

참교육
신의 탑
뷰티풀 군바리
윈드브레이커
퀘스트지상주의
장씨세가 호위무사
호랑신랑뎐
소녀의 세계
백수세끼
팔이피플
신화급 귀속 아이템을 손에 넣었다
앵무살수
버림받은 왕녀의 은밀한 침실
잔불의 기사
불청객
똑 닮은 딸
절대검감
리턴 투 플레이어
히어로메이커
아, 쫌 참으세요 영주님!
물어보는 사이
꼬리잡기
이별 후 사내 결혼
순정말고 순종
더블클릭
결혼생활 그림일기
북부 공작님을 유혹하겠습니다
메리의 불타는 행복회로
아슈타르테
황제와의 하룻밤
꿈의 기업
신군
파운더
오빠집이 비어서
미니어처 생활백서
제왕: 빛과 그림자
굿바이 유교보이
우산 없는 애
다시쓰는 연애사
오늘의 비너스
레지나레나 - 용서받지 못한 그대에게
버그이터
하루의 하루
원작은 완결난 지 한참 됐습니다만
세번째 로망스
또다시, 계약 부부
찌질하지만 로맨스는 하고 싶어
사랑의 헌옷수거함
말박왕
루크 비셸 따라잡기
최후의 금빛아이
모스크바의 여명
달로 만든 아이
입술이 예쁜 남자
아마도
경비실에서 안내방송 드립니다
백호랑
파견체
싸이코 리벤지
그림자 신부
왕따협상
매지컬 급식:암살법사
칼가는 소녀
나만의 고막남친
모락모락 왕세자님
지옥연애환담
악녀 18세 공략기
모노마니아
흔들리는 세계로부터
결혼공략
역주행!
사막에 핀 달
디나운스
헬로맨스
슈퍼스타 천대리
기사님을 지켜줘
오로지 오로라
남주서치
별을 쫓는 소년들
김부장
여신강림
대학원 탈출일지
마루는 강쥐
1을 줄게
멸망 이후의 세계
내가 키운 S급들
시체기사 군터
중증외상센터 : 골든 아워
용사가 돌아왔다
삼국지톡
악몽의 형상
랜덤채팅의 그녀!
천마는 평범하게 살 수 없다
집이 없어
하북팽가 막내아들
호랑이 들어와요
초인의 게임
여우자매
원주민 공포만화
헬58
에이머
왕게임
윌유메리미
덴큐
올가미
애옹식당
로잘린 보가트
몬스터
견우와 선녀
1331
원수가 나를 유혹할 때
쿠쿠쿠쿠
늑대처럼 홀로
용왕님의 셰프가 되었습니다
위아더좀비
나타나주세요!
은주의 방 2~3부
빅맨
택배 왔습니다
제로게임
연우의 순정
다꾸남
플레이, 플리
100
시벨롬 리스트
이 결혼, 새로고침
한입만!
내남친 킹카만들기
아이즈
또 다른 사랑
마침내 사랑이에요 마왕님!
대공님, 실수였어요!
벽간소음
열녀박씨 계약결혼뎐
나의 플랏메이트
필리아로제 - 가시왕관의 예언
사공은주
붉은 이정표
풋내기들
짝사랑의 마침표
너의 순정, 나의 순정
ㅋㄷㅋㄷ만화
나는 어디에나 있다
빌런투킬
미물
주인님을 잡아먹는 방법
태시트
교환학생
그녀석 정복기
이븐 모어
NG불가
그 남주와 이별하는 방법
대신 심부름을 해다오
미신
달이 사라진 밤
급식러너
프린스 메이커
잿빛오름
하나in세인
찐:종합게임동아리
마녀이야기
화산귀환
내 남편과 결혼해줘
2022 스크롤금지
전지적 독자 시점
조조코믹스
헬퍼 2 : 킬베로스
비즈니스 여친
튜토리얼 탑의 고인물
일렉시드
여고생 드래곤
나쁜사람
먹는 인생
엔딩 후 서브남을 주웠다
기묘한 만화
연놈
쓰레기는 쓰레기통에!
마른 가지에 바람처럼
칼에 취한 밤을 걷다
빌드업
베스트 프렌드
66666년 만에 환생한 흑마법사
세상은 돈과 권력
고삼무쌍
사상최강
미래의 골동품 가게
영웅&마왕&악당
운명을 보는 회사원
물고기로 살아남기
판타지 여동생!
아도나이
언덕 위의 제임스
내가 죽기로 결심한 것은
옆집남자 친구
마녀와 용의 신혼일기
헤어지면 죽음
반귀
얼굴천재
범이올시다!
괴물공작의 딸
좀간
로어 올림푸스
수요웹툰의 나강림
그녀의 육하원칙
홀리데이
인과관계
어느 백작 영애의 이중생활
메모리얼
가짜 동맹
더 퀸즈
주부 육성중
선배는 나빠요!
두 번 사는 프로듀서
밀행
잿빛도 색이다
그림자의 밤
안미운 우리들
구사일생 로맨스
재생존경쟁
클로닝
무용과 남학생
반짝반짝 작은 눈
멸종위기종인간
이별학
뱀은 꽃을 먹는가
사랑과 평강의 온달!
해귀
수호하는 너에게
나의 계절
혁명 뒤 공주는
낙원의 이론
구주
하지만 너는 2D잖아
산의 시간
이 짝사랑은 억울하다!
필생기
프로듀스 온리원
오직, 밝은 미래
아이돌의 비밀 스터디
우리 은하
이상한 변호사 우영우
독립일기
나노마신
호랑신랑뎐
누나! 나 무서워
천마육성
나 혼자 네크로맨서
현실퀘스트
남편을 죽여줘요
회귀한 천재 헌터의 슬기로운 청소생활
정글쥬스
무사만리행
노답소녀
불편한 관계
천재의 게임방송
규격 외 혈통 천재
특수청소
쿠베라
죄송한데 주인공이세요?
하드캐리
순정빌런
버려진 나의 최애를 위하여
최강전설 강해효
던전 씹어먹는 아티팩트
꽃만 키우는데 너무강함
트롤트랩
국세청 망나니
완벽한 결혼의 정석
오빠세끼
개와 사람의 시간
베니루 BAENIRU
순수한 동거생활
위대한 겸상
선남친 후연애
마왕까지 한 걸음
만능잡캐
가족같은 XX
만물의 영장
안개무덤
갓트
마계인섬
아인슈페너
네가 죽기를 바랄 때가 있었다
소녀180
킬더킹
달의 요람
두 번째 딸로 태어났습니다
1학년 9반
온에어
THE 런웨이
가상&RPG
해시의 신루
황궁에 핀 꽃은, 미쳤다
환상연가
마법사랑해
침묵의 밤
널 사랑하는 죽은 형
이계 무슨 황비
진짜 진짜 이혼해
마녀의 심판은 꽃이 된다
부캐인생
오, 친애하는 숙적
따개비
배트맨: 웨인 패밀리 어드벤처
연애의 발견
아빠같은 남자
시에라
자취방 신선들
권리행사자
베어케어
유월의 소한
방과후 레시피
로맨틱 태평수산
성스러운 아이돌
돌아온 여기사
나쁜 마법사의 꿈
모어 라이프
카루나
혼모노트
폭탄주먹 변대장
온실 속 화초
보물과 괴물의 도시
사랑하는 여배우들
외모지상주의
나 혼자 만렙 뉴비
갓 오브 하이스쿨
대학원 탈출일지
어쩌다보니 천생연분
데드퀸
개를 낳았다
광마회귀
1초
삼국지톡
죽지 않으려면
낙향문사전
세기말 풋사과 보습학원
역대급 영지 설계사
서울역 드루이드
말년용사
뫼신 사냥꾼
여우놀이
멜빈이 그들에게 남긴 것
히어로 킬러
구남친이 내게 반했다
A.I. 닥터
선을 넘은 연애
천상의 주인
비밀친구
언니, 이번 생엔 내가 왕비야
로판 빙의 만화
그렇고 그런 바람에
상남자
미혼남녀의 효율적 만남
플레이어
희란국연가
푸쉬오프
쿠쿠쿠쿠
이터널 포스
그 기사가 레이디로 사는 법
그들이 사귀는 세상
킬 더 드래곤
후덜덜덜 남극전자
모텔 304호
스토커의 하루
상위1%
스포
네버엔딩달링
이게 아닌데
악마라고 불러다오
아찔한 전남편
여름여자 하보이
로또 황녀님
백년게임
솔트앤페퍼
트럼프
거래
오!너의 리스크
인피니티
태권보이
재앙의 날
몽홀
달이 없는 나라
드래곤의 심장을 가지고 있습니다
리트리츠
짝사랑 마들렌
빨간맛 로맨스
별빛 커튼콜
합법해적 파르페
히트포인트
너의 키스씬
팬시X팬시
스치면 인연 스며들면 사랑
지니오패스
여름의 너에게
2022 스크롤금지
호랑이형님
조조코믹스
99강화나무몽둥이
취사병 전설이 되다
프리드로우
여고생 드래곤
은탄
망나니 소교주로 환생했다
악몽의 형상
먹는 인생
스터디그룹
아홉수 우리들
나이트런
대충 캠퍼스로맨스임
반드시 해피엔딩
윌유메리미
소공녀 민트
존잘주의
청춘 블라썸
나태 공자, 노력 천재 되다
폭군 남편과 이혼하겠습니다
지옥급식
나를 바꿔줘
작전명 순정
힙한남자
남편 먹는 여자
디펜스 게임의 폭군이 되었다
아사
청춘일지
좀비 파이트
미나 이퀄
태백 : 튜토리얼 맨
탑코너
물위의 우리
용사참수인
최면학교
홍시는 날 좋아해!
이계진입 리로디드
완벽한 부부는 없다
묘령의 황자
팬인데 왜요
엑스애쉬
공유몽
광해의 연인
키스 식스 센스
남편을 만렙으로 키우려 합니다
마법사가 죽음을 맞이하는 방법
메트로헌터
최강부캐
같은 학교 친구
저무는 해, 시린 눈
은둔코인
소년 검사
다비, 아찔하게 흐르는
아가사
숨겨진 성녀
팔려 온 신부
배달의 신
전생연분
왕년엔 용사님
적월의 나라
지구식 구원자 전형
복수를 위한 결혼동맹
사서고생!
중매쟁이 아가 황녀님
도사 가온
좋은데 어떡해
키스의 여왕
모두 너였다
더 나우
좋아해 아니 싫어해
일상이 무너졌다
스트릿 워크아웃
밤을 깨우는 마법
주욱 같은 하루
나를 길들여 봐, 차비서
아침을 지나 밤으로
보고 있지?
이건 그냥 연애 이야기
실버 쥬얼
보듬보듬
7FATES: CHAKHO
독립일기
2022 스크롤금지
싸움독학
투신전생기
입학용병
이번 생도 잘 부탁해
약한영웅
존망코인
사형소년
일타강사 백사부
수희0(tngmlek0)
별이삼샵
천하제일인
소녀재판
아카데미에 위장취업당했다
무서운게 딱좋아!
곱게 키웠더니, 짐승
내일
판사 이한영
오로지 너를 이기고 싶어
킬링킬러
시월드가 내게 집착한다
경비 배두만
테러대부활
마법스크롤 상인 지오
키미앤조이
어느날 갑자기 서울은
위닝샷!
경자 전성시대
폰투스 : 극야2
동생친구
108명의 그녀들
장풍전
고백 취소도 되나?
마섹남 - 마술하는 섹시한 남자
생존로그
홍 의관의 은밀한 비밀
후궁 스캔들
천치전능
마왕의 고백
내곁엔 없을까
결혼까지 망상했어!
랑데뷰
데빌샷
장미같은 소리
마도
몸이 바뀌는 사정
위험한 남편을 길들이는 법
나의 작은 서점
하렘에서 살아남기
여우애담
돌&아이
예쁜 사나이
생존고백
전설의 화석
보스의 노골적 취향
보통아이
신이 담긴 아이
혀로 만난 사이
블러드 리벤저
사람은 고쳐 쓰는 게 아니야!
조선여우스캔들
라커, 오프너
당신의 여자가 되고 싶어요
6월의 라벤더
철수와 영희 이야기
샤인 스타
밀실 마피아 게임
패션쇼
독신마법사 기숙아파트
아마도, 굿모닝
거래하실래요?
제타
구해줘, 호구!
짝사랑의 유서
DARK MOON: 달의 제단